   #cabecera{
   font-family: Gadugi;
   font-size:30px;
   color:red;
   text-align:center;
       }
ul li{
    list-style-type: none;
    display:inline;
    font-size: 24px;
    font-weight: bold;
    font-family: Candara;  
    background: #FFFFFF;
    padding: 10px;
    border-radius: 0px;
    color:gray
    }
    
    #menu{
        text-align: center;
    } 
    
    img{
        border-radius: 20px;
    } 
    #cuerpo{
        text-align: center;
        font-family: Candara;
        font-size: 28px;
    } 
    #pie{
        background: #D8D8D8;
        text-align: center;
        font-family: Gadugi;
        font-weight: bold;
    }
    form{
      margin: 0 auto;
      width:700px;
      background:  chartreuse;
      padding: 5px;
      border-radius: 10px;
    }
    h1{
        text-align: center;
   }
    form div{
        margin-bottom: 5px;
    }
    
    label{
        font-family: Forte;
        width:100px;
        text-align: right;
        display:inline;
    }
    
    input{
        width: 200px;
    }
    
    textArea{
        width: 400px;
        vertical-align: middle;
    }
    
   a{
        text-decoration: none;
    }
    a:hover{
      color:gray;
      font-size: 30px;
    }
    a:visited{
        color:gray;
    }
    
    #block_1
	{
	float: left;
	width: 34%;
	margin-left: 33%;
	}
        
* html #block_1
	{
	display: inline;
	}
#block_2
	{
	float: left;
	width: 33%;
	margin-left: -67%;
	}
#block_3
	{
	float: left;
	width: 33%;
	}
    